:root{
    --fontFamily: 'Inter', sans-serif;
}
body{
    background: #F3F5FC;
    overflow-y: hidden;
}
.container-main{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    height: 90vh;
    display: flex;
}
.container-left{
    width: 70%;
}
.home_text a{
    color: #0A3871;
}
.home_text a:hover{
    opacity: 0.9;
}

.home_text{
    font-family: var(--fontFamily);
    font-size: 30px;
    color: #0A3871;
    position: absolute;
    left: 100px;
    top: 30px;
    
}
.form{
    margin-left: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 65%;
}

.container-encrypt{
    display: flex;
    flex-direction: column;
}

.textarea_input{
width: 90%;
margin-top: 40px;
font-size: 32px;
color: #0A3871;
border: none;
background: none;
resize: none;
outline: none;
font-family: var(--fontFamily);
min-height: 200px;
max-height: 311px;
max-width: 99%;
max-width: 100%;
}
.container-buttons{
    display: flex;
    flex-direction: column;
}
.warning{
    margin-bottom: 10px;
}

.advert{
    font-family: var(--fontFamily);
    font-size: 14px;
    color: black;
    opacity: 0.8;
}

.buttons{
    display: flex;
    justify-content: space-between;
}
.space{
    display: none;
}

.btn_encrypt{
    background-color: #0A3871;
    color: #D8DFE8;
    height: 67px;
    border-radius: 24px;
    flex: 0.47;
    font-size: 24px;
    border: 1px solid #0A3871;
    margin-bottom: 1px;
}
.btn_decrypt{
    background-color: #D8DFE8;
    color: #0A3871;
    height: 67px;
    border-radius: 24px;
    flex: 0.47;
    font-size: 24px;
    border: 1px solid #0A3871;
    margin-bottom: 1px;
}
.container-center{
    display: none;
}
.container-right{
    
    border-radius: 25px;
    width: 25%;
    overflow: hidden;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.container-decrypt{
    width: auto;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.muneco{
    width: 336px;
    height: 304px;
    margin-top: 300px;
}
.text_frame_p{
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    font-family: var(--fontFamily);
    color: #343A40;    
    line-height: 120%;
    margin-top: 50px;
    margin-bottom: 20px;;
}

.textarea_output{
    width: 336px;
    height: 400px;
    text-align: center;
    font-size: 19px;
    margin-left: 20px;
    font-family: var(--fontFamily);
    outline: none;
    border: none;
    background-color: transparent;
    color:#495057;
    align-self: stretch;
    line-height: 150%;
    
}
.btn_copy{
    display: none;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 150px;
    height: 50px;

    background: #D8DFE8;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 5px;
    text-align: center;
    color: #0A3871;
    margin-left: 100px;
    
}
.btn_clean{
    background-color: #D8DFE8;
    color: #0A3871;
    height: 40px;
    border-radius: 24px;
    width: 150px;
    font-size: 24px;
    border: 1px solid #0A3871;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    .buttons{
        margin-bottom: 40px;
        width: 150%;
    }
    .textarea_output{
        width: 400px;
        height: 150px;
    }
    .muneco{
        display: none;
    }

    .container-main{
        height: 100vmax;
        flex-direction: column;
    }
    
    .container-left{
        flex: 0.5;
        display: auto;
        
    }

    .container-center{
        flex: 0.02;
        width: block;
    }

    .container-right{
        flex: 0.40;
        width: auto;
    }
    .form{
        margin-left: 0px;
        width: auto;
    }

    .textarea_input{
        width: auto;
    }
    .btn_copy{
        margin-left: 150px;
    }
    
}

@media (max-width: 450px) {
    .muneco{
        display: none;
    }
    .container-main{
        flex-direction: column;
    }
    .container-left{
        height: 63%;
        width: auto;
    }
    .container-center{
        height: 0.02;
        display: block;
    }
    .container-right{
        width: auto;
    }
    .form{
        margin-left: 0px;
        width: auto;
        justify-content: flex-start;
    }
    .container_encrypt{
        height: 60%;
    }
    .textarea_input{
        width: auto;
        font-size: 20px;
        max-height: 50%;
        
    }
    .space{
        display: block;
    }
    .container-buttons{
        flex-direction: column;
        height: 35%;
    }
    .buttons{
        justify-content: space-between;
        margin-bottom: 150px;
        height: auto;
        width: 350px;
        font-size: 14px;
    }
    .btn_encrypt{
        font-size: 14px;
        height: 80px;
    }
    .btn_decrypt{
        font-size: 14px;
        height: 80px;
    }
    .text_frame_p{
        font-size: 18px;
    }
    .textarea_output{
        font-size: 17px;
        width: auto;
    }
    .btn_copy{
        margin-left: 40px;
    }
}


footer{
    padding: 10px 0;
    background-color: #0A3871;
    margin-top: 26px;
    font-family: var(--fontFamily);

}
.copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}